article {
	width: 30%;
	border: 1px lightblue solid;
}

.image {
	width: 50%;
	height: 10%;
	margin: auto;
	display: block;
	margin: auto;
}

.card2 {
	margin-bottom: 19px;
}

.header {
	border: 1px lightgray dotted;
	text-align: center;
}

.description {
	/*text-align: justify;*/
	/*text-justify: inter-word;*/
	font-size: 16px;
	text-align: center;
	padding: 2% auto;
}

.size {
	font-size: 16px;
	font-weight: bold;
}

.footer {
	font-size: 10px;
}

.available {
	background-color: gray;
	color: yellow;
}

.Specifications{
	margin-left: 10px;
}

.size {
	margin-left: 15px;
}

.flex-container {
	display: flex;
	display: -webkit-flex;
	width: 100%;
	justify-content: center;
	-webkit-justify-content: center;
	flex-wrap: wrap;
	margin-top: 5%;
}

.flex-item {
	width: 30%;
	margin: 10px;
	flex-wrap: wrap;
}