.brand-name-container {
	font-size: 40px;
	margin-right: 20%;
}

h1 {
	margin: 0 auto;
}

.content {
	font-size: 25px;
}

img {
	height: 15%;
	width: 15%;
	margin-top: 5%;
}

.imagehead {
	margin-right: 10%;
}

.content-description {
	margin-top: 10%;
}

.mySlides {
	margin: 0 auto;
	height: 40%;
	width: 40%;
}

.w3-button {
	margin: 0 auto;
	text-align: center;
}